.hero {
  position: relative;
  height: 110vh;
  overflow: hidden;
  color: #fff;

  background-image: url("../../assets/images/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

// .hero-top {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
// }

.left-text{
  font-size: 0.9rem;
  position: absolute;
  top: 15%;
  right: 10%;
  font-weight: 300;
  z-index: 1;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero-subtitle {
  font-size: 1.4rem;
  position: absolute;
  top: 15%;
  left: 33%;
  transform: translateX(-100%);
  font-weight: 800;
  letter-spacing: 2px;
  z-index: 1;
  font-family: Geneva, Verdana, sans-serif;
}

.hero-bg-text {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15rem;
  font-weight: 800;
  letter-spacing: 80px;
  color: #fbfbfb;
  z-index: 1;
  pointer-events: none;
  white-space: nowrap;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.hero-car {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 1100px;
  max-width: 90%;
  z-index: 2;

  filter: drop-shadow(0 70px 50px rgba(13, 64, 159, 0.25));
  opacity: 1; 
}

.hero-bottom {
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; /* растягивает элементы по доступной ширине */
  gap: 500px; /* расстояние между элементами */
}


.hero-left{
  display: flex;
  gap: 10px;
}

.first-desc {
  font-size: 1rem;
  text-align: start;
  opacity: 0.8;
  width: 270px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero-bottom button {
  padding: 18px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
  width: 140px;
  height: 50px;

  &:hover {
    background-color: #374957;
  }
}

.second-desc {
  font-size: 2.4rem;
  text-align: end;
  opacity: 0.8;
  width: 430px;
}
